<?xml version="1.0"?>

<model>
  <name>jsc_mecanum_bot</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Juan S C</name>
    <email>juan.socas101@alu.ulpgc.es</email>
  </author>

  <description>
    Description of the jsc mecanum bot.
  </description>
</model>
